@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../static/fonts/Roboto-Regular.ttf") format("truetype");
}

ul, .newGame {
    width: 10em;
}


div .description {
    background: rgba(180, 180, 180, 0.5)
}

.description {
    text-align: left;
    gap: 20em;
    border: 1px solid black;
    
    padding: 2em;
    border-radius: 0.5em;
}

.button_container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20em;
    margin-top: 25px;
}

button, .buttons {
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 3px 6px;
    font-size: 2em;
    border-radius: 0.5em;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);

}

button:hover, .buttons {
    background-color: #e6e6e6;
}