<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select difficulty</title>
    <link href="{{url_for('static', filename='CSS/difficulty.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='CSS/shared.css')}}" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="../static/CSS/shared.css">
    <link rel="stylesheet" href="../static/CSS/difficulty.css">-->
</head>
<body>
<div class="container">
    <h1>OptiFly 1.6</h1>
    <div class="button_container">
        <div class="easy">
            <a href="/game?difficulty=easy">Easy</a>
            <p>Contains airports from only Finland</p>
        </div>
        <div class="medium">
            <a href="/game?difficulty=medium">Medium</a>
            <p>Contains airports from Europe</p>
        </div>
        <div class="hard">
            <a href="/game?difficulty=hard">Hard</a>
            <p>Contains airports from across all continents</p>
        </div>
    </div>
</div>
</body>
</html>
