<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="{{url_for('static', filename='CSS/game.css')}}" rel="stylesheet" type="text/css">
        <script src="{{url_for('static', filename='JavaScript/difficulty.js')}}"></script>
</head>
<body>

</body>
</html>