<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Optifly 1.6 - Game</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link href="{{ url_for('static', filename='CSS/game.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='CSS/shared.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="map_container">
    <div id="map"></div>
</div>

<div id="button_container">
    <h2 id="h2content">You are currently at: </h2>
    <h2 id="weather"></h2>
    <!--<h2 id="h2totaldistance"></h2>-->
    <a href="/difficulty" id="rerun"></a>
</div>
</body>
</html>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<script src="{{ url_for('static', filename='/JavaScript/map.js') }}"></script>