<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/CSS/game.css" rel="stylesheet" type="text/css">
    <script defer src="/JavaScript/difficulty.js"></script>
</head>
<body>

</body>
</html>
