<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Optifly1.6</title>
    <script src="{{url_for('static', filename='/JavaScript/script.js')}}" defer></script>
    <link href="{{url_for('static', filename='CSS/index.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h1>OptiFly 1.6</h1>
    <div class="button_container">
        <div class="newGame">
            <button class="buttons" id="newGame">New Game</button>
            <ul>
                <li>
                    #1
                </li>
                <li>
                    #2
                </li>
                <li>
                    #3
                </li>
                <li>
                    #4
                </li>
            </ul>
        </div>
        <div class="loadGame">
            <button id="loadGame">Load Game</button>
            <ul>
                <li>
                    #1
                </li>
                <li>
                    #2
                </li>
                <li>
                    #3
                </li>
                <li>
                    #4
                </li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>